# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.tsbuildinfo
*.js.d.ts
vite.config.js
vite.config.d.ts

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Local env
.env
.env.*
!.env.example